django==2.1.5
django-filer==1.3.0

# Used to connect with our Postgres database.
psycopg2==2.7.3.2

# Django rest framework for the API
djangorestframework

# Django Filer and dependencies.
django-mptt==0.9.0
easy-thumbnails==2.5
